# Reference Material for Working with Pandas

***
- [Initializing](#Initializing)
- [Properties](#Properties)
- [Get and Set](#Get-and-Set)
- [Basic Functions](#Basic-Functions)
- [Mathmatics](#Mathmatics)
- [Iterate](#Iterate)
- [Reshaping](#Reshaping)
- [Index With Boolean](#Index-With-Boolean)
- [Special Considerations](#Special-Considerations)

In [1]:
import numpy as np
import pandas as pd

In [ ]:
#confusion

# Initializing

In [24]:
#import with csv

weatherData = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weatherData)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# Properties

In [16]:
df.shape                     #tuple of rows and columns in df
df.head                      #show first few rows
df.index                     #show index range/values

RangeIndex(start=0, stop=6, step=1)

# Get and Set

In [25]:
df.head(2)                   #first 2 rows
df.tail                      #last 5 rows
df.tail(3)                   #last 3 rows
df.columns                   #shows column names
df.day                       #print day column
df['day']                    #same as above
type(df['event'])            #pandas.core.series.Series
df[2:5]                      #print rows 2,3,4
df[['event','day']]          #print event and day


df = df.set_index('day')    #index is now the day, not 0-5 in NEW data frame
df.reset_index(inplace = True)  #reset index to 0-5
df.set_index('day', inplace=True)   #does same as above
df.loc['1/4/2017']
#if index are reused, printing the index will return all of them

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# Basic Functions

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

# Mathmatics

In [15]:
df['temperature'].max()      
df['temperature'].mean()
df['temperature'].min()
df['temperature'].std()
df.describe()                #stats on int columns
df[df.temperature>=32]       #show temps above 32
df[df.temperature==df.temperature.max()]
df[df.temperature==df['temperature'].max()] #above is same
df['day'][df.temperature==df['temperature'].max()]
df[['day','temperature']][df.temperature==df['temperature'].max()]

        day  temperature
1  1/2/2017           35

# Iterate